.card-image {
  height: 250px;
}

.flex-it{
  display: flex;
  justify-content: left;
  align-items: center;
}
.flex-it h4 {
  margin-inline: 5px;
  margin-bottom: 0px;
}
.line_item_quantity {
  display: none;
}
.line_item_line_items_quantity {
  display: none;
}
.increment,
.decrement {
  padding: 0.4em;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
}

.increment:hover,
.decrement:hover {
  background-color: #999;
}

.hide {
  display: none;
}

.icon-right{
  transform: rotate(270deg);
  transition: transform 0.3 ease-in-out;
}
.icon-down {
  transform: rotate(0deg);
  transition: transform 0.3 ease-in-out;
}
