.design-ideas img{
  width: 100%;
}
.design-ideas {
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  gap: 4px;
}
.design-idea-photo {
  width: 100%;
  object-fit: cover;
}
.summary-container {
  padding-inline: 10%;
  display: flex;
  gap: 60px;
  margin-block: 50px;
  h3 {
    font-weight: 700;
  }
}
.left-summary {
  width: 50%;
  margin: 0;
}
.right-summary {
  width: 50%;
  margin: 0;
  word-wrap: break-word;
}
.summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-inline: 15%;
  gap: 25px;
  h6 {
    margin-top: -26px;
    text-align: center;
  }
  h4 {
    margin-top: -16px;
    margin-bottom: 18px;
  }
}
.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#request-h1 {
  margin-top: 0px;
  margin-bottom: -18px;
}

#request-managment-back {
  padding-inline: 0px;
  position: absolute;
  justify-content: unset;
  align-items: unset;
  display: block;
  top: -3px;
}

#request-accept-btn {
  background-color: #76CB42;
  &:hover {
    background-color: #FFFBEF;
  }
}
#request-decline-btn {
  background-color: #CF4444;
  &:hover {
    background-color: #FFFBEF;
  }
}
.admin-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form:nth-of-type(1) {
    width: 100%;
  }
  form:nth-of-type(2) {
    width: 50%;
  }
}
