<div class="product-card">
  <%= cl_image_tag custom_cake.photo.key%>
  <h5 class="product-name-card"><%= custom_cake.name %></h5>
  <p> <%= custom_cake.name == "Full Custom" ? "From:" : "Price:" %> <strong><%= humanized_money_with_symbol(custom_cake.price) %></strong></p>
</div>
