<div id="mini-banner-container" class="navbar-container">
  <div class="banner-text">
    <h1>any size - </h1>
  </div>
    <div class="banner-text">
    <h1>any design - </h1>
  </div>
    <div class="banner-text">
    <h1>great flavours - </h1>
  </div>
    <div class="banner-text">
    <h1>all handcrafted</h1>
  </div>
</div>
