<div class="footer-container-top">
  <div class="back-to-top-container">
    <div class="back-to-top">
      <i class="fa-solid fa-chevron-up fa-xl"></i>
      <p>Back to top</p>
    </div>
  </div>

  <div class="main-footer-content-container">
    <div class="footer-content">
      <p class="footer-titles">STAY CONNECTED</p>
      <div class="social">
        <i class="fa-brands fa-instagram fa-xl"></i>
        <p>Instagram</p>
      </div>
      <div class="social">
        <i class="fa-brands fa-square-facebook fa-xl"></i>
        <p>Facebook</p>
      </div>
    </div>

    <div class="footer-content">
      <p class="footer-titles" >THE BUTTERCREAM SPECIALIST</p>
      <p id="footer-buttercream-content">I am the buttercream master. I`ve been working my recipe for almost a decade. Try it and see.</p>
    </div>
    <div id="links-size" class="footer-content">
      <p class="footer-titles">LINKS</p>
      <p id="reduce-margin">Get in touch</p>
      <p>About us</p>
    </div>
  </div>
  <div class="stripe-container">
    <div class="stripe">
      <i class="fa-brands fa-stripe fa-6x" style="
    margin-bottom: -10px;"></i>
      <p id="GBP">UK (GBP £)</p>
    </div>
    <div class="payment-methods">
      <div class="copyright">
        <i class="fa-regular fa-copyright"></i>
        <p>2023 TB&C | Created by - Harry Fleminger</p>
      </div>
      <div class="icons">
        <i class="fa-brands fa-cc-visa fa-2x"></i>
        <i class="fa-brands fa-cc-mastercard fa-2x"></i>
        <i class="fa-brands fa-cc-amex fa-2x"></i>
        <i class="fa-brands fa-google-pay fa-2x"></i>
        <i class="fa-brands fa-apple-pay fa-2x"></i>
      </div>
    </div>
  </div>
</div>
