<div class="header-container">
  <%= image_tag "Teelogo.png", class: "logo-centered" %>
  <div class="header-menus">
    <div class="link-box">
      <%= link_to "Custom cakes", "/products", class: "menu-link" %>
    </div>
    <%# <div class="link-box"> %>
        <%# <%= link_to "Shop", "#", class: "menu-link" %>
    </div>
  </div>
</div>
