<div class="header-container">
  <%= image_tag "Teelogo.png", class: "logo-centered" %>
  <div class="header-menus">
    <div class= "link-box">
      <%= link_to "#{@custom_cake.name} - Cake Request Form", "/custom_cakes", class: "menu-link" %>
    </div>
  </div>
</div>
