html, body {
  // height: 100%;
  width: 100%;
  margin: 0;
  min-width: 395px;
}
#status-pending {
  color: #CF4444;
}
#status-in-progress {
  color: #CB9442;
}
#status-completed {
  color: #76CB42;
}
#status-paid {
  color: #76CB42;
}
#status-unpaid {
  color: #CF4444;
}
.main-margin-top-bottom{
  margin-block: 25px;
  .text {
    width: 101.5%;
  }
}
.contact-form-flex{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  form {
    width: 100%;
  }
  input:nth-child(5) {
    width: 50%;
    margin-left: 25%;
  }
  #basket-next-button {

    width: 50%;
    margin-left: 25%;
  }
}
:root {
  --bs-link-hover-color: black;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -644px;
}
.main-container {
  padding-inline: 15%;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-bottom: 100px;
}
.main-grid * img {
  width: 100%;
}

.product-card {
  border: 0.5px solid rgba(0, 0, 0, 0.269);
  padding: 15px;
  box-shadow:0px 0px 16px rgba(0, 0, 0, 0.03);
  min-width: 260px;
}
.product-card p {
  text-align: center;
  margin-bottom: 0px;
}
.product-name-card {
  display: block;
  text-align: center;
  margin-block: 10px;
  font-weight: 500;
}

.products-shown {
  margin-block: 25px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .main-grid {
    grid-template-columns: 1fr 1fr;
  }
  .product-card {
    min-width: 224px;
  }
  .parallax-container {
    .text-ad {
      gap: 20px;
      padding-inline: 3%;
    }
    .ad {
      gap: 17px;
    }
  }
  .header-flex-title-buttons.header-flex-title-buttons {
    padding-inline: 3%;
    gap: 35px;
    justify-content: center;
    h2 {
      width: 258px;
    }
  }
  .orders-container.orders-container {
    padding-inline: 3%;
    justify-content: center;
  }
  .order-box.order-box {
    width: 676px;
  }
}

@media (max-width: 719px) {
  .main-grid {
    gap: 10px;
  }
  .main-container {
    padding-inline: 3%;
  }
  .navbar-container {
    padding-inline: 4%;
  }
  .parallax-container.parallax-container {
    height: 400px;
    .text-ad {
      padding-inline: 3%;
      height: 160px;
      p {
        font-size:10px;
      }
    }
    .ad {
      gap: 10px;
    }
  }
  .parallax-container.parallax-container {
    #ad-left {
      img {
        width: 35px;
      }
    }
    #ad-middle {
      img {
        width: 29px;
      }
    }
    #ad-right {
      img {
        width: 26px;
      }
    }
  }
  .footer-container-top.footer-container-top {
    height: 384px;
    justify-content: end;
    gap: 40px;
  }
  .main-footer-content-container.main-footer-content-container {
    padding-inline: 0%;
  }
  .stripe-container.stripe-container {
    padding-inline: 0%;
    margin-bottom: 8px;
  }
  .payment-methods.payment-methods {
    justify-content: space-between;
    gap: 12px;
    padding-inline: 8%;
  }
  .stripe.stripe {
    margin-right: 7px;
    margin-right: 8%;
  }
  .fa-6x.fa-6x {
    font-size: 5em;
  }
  .main-grid {
    margin-bottom: 50px;
  }
  .new_contact_message{
    padding-inline: 10%;
    padding-right: 14%;
  }

  .header-flex-title-buttons.header-flex-title-buttons {
    padding-inline: 3%;
    gap: 35px;
    justify-content: center;
    h2 {
      width: 258px;
    }
  }


  .order-box.order-box {
    width: 488px;
    h5 {
      font-size: 16px;
    }
    h6 {
      font-size: 12px;
    }
    #lengthen-width#lengthen-width {
      width: 64%;
    }
  }
  .request-button.request-button {
    width: 290px;
  }
  .shop-button.shop-button {
    width: 290px;
  }
}


@media (max-width: 950px) {
  .form-header-outer.form-header-outer {
    width: 50%;
  }
  .form-header-back.form-header-back {
    padding-left: 20%;
  }
  #request-managment-back#request-managment-back{
    margin-left: -10%;
  }
}
@media (max-width: 523px) {
  .request-form-container.request-form-container {
    gap: 3%;
    padding-inline: 3%;
  }
  .form-header-back.form-header-back {
    padding-left: 7%;
  }
  .form-header-bread.form-header-bread{
    margin-right: -10px;
  }
  .main-grid {
    gap: 10px;
  }
  .product-card {
    min-width: 166px;
    h5 {
      font-size: 0.8rem;
    }
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 15px;
    }
  }
  .main-container {
    padding-inline: 3%;
  }
  .header-menus {
    min-width: 225px;
  }
  .parallax-container.parallax-container {
    height: 400px;
    .text-ad {
      padding-inline: 3%;
      height: 160px;
      gap: 7px;
      justify-content: space-around;
      p {
        font-size:10px;
      }
    }

  }
  .ad-left {
    img {
      width: 35px;
    }
  }
  .ad-middle {
    img {
      width: 29px;
    }
  }
  .ad-right {
    img {
      width: 26px;
    }
  }
  .footer-container-top.footer-container-top {
    p {
      font-size: 10px;
    }
    padding-inline: 6px;
    height: 324px;
  }
  .main-footer-content-container.main-footer-content-container {
    min-width: 150px;
    height: 100px;
  }
  #footer-buttercream-content#footer-buttercream-content {
    width: 217px;
  }
  .icons.icons {
    display: flex;
    gap: 5px;
  }
  .payment-methods.payment-methods {
    justify-content: space-between;
    gap: 0px;
    padding-inline: 12px;
  }

  .order-box.order-box {
    width: 373px;
    h5 {
      font-size: 16px;
    }
    h6 {
      font-size: 12px;
    }
    #lengthen-width#lengthen-width {
      width: 100%;
    }
    .order-box-top.order-box-top {
      width: 359px;
    }
    .order-box-bottom.order-box-bottom {
      width: 359px;
    }
  }
  .request-button.request-button {
    width: 290px;
  }
  .shop-button.shop-button {
    width: 290px;
  }
  .header-flex-title-buttons.header-flex-title-buttons {
    a {
      text-align: center;
      line-height: 14px;
    }
  }
}
