.navbar-container {
  background-color: $light-pink;
  height: 100px;
  top: 0;
  width: 100%;
  height: 44px;
  padding-inline: 15%;
  border-bottom: 1px solid #000000;
}

.navbar-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.sub-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
}
