.navbar-container {
  background-color: $light-pink;
  height: 44px;
  top: 0;
  width: 100%;
  padding-inline: 15%;
}

.navbar-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
