.request-container {
  padding-inline: 10%;
}
.request-form-container {
  padding-inline: 10%;
  display: flex;
  gap: 60px;
  margin-block: 50px;
  min-height: 100vh;
}
.left-request-form {
  width: 50%;
  margin: 0;
}
.right-request-form {
  width: 50%;
  margin: 0;
}
